body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    background-image: url(https://images.unsplash.com/photo-1612198619563-a3a31fd47e6d?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8c3Vuc2V0JTIwY2xvdWR8ZW58MHx8MHx8fDA%3D);
    background-size: cover;
}

header {
    text-align: center;
    padding: 10px;
}

header img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-bottom: 10px;
}

section {
    margin: 20px;
}

.project {
    width: 225px; 
    height: 100px;
    border: 1px solid #ccc;
    margin: 10px;
    display: inline-block; 
    text-align: center;
    text-shadow: #FC0 1px 0 10px;
    line-height: 100px; 
    font-size: medium;
    background-color:cornflowerblue;
}

a:link {
    color: #c00;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: rgb(0, 0, 0);
    background-color: transparent;
    text-decoration: none;
}

a:active {
    color: #ccc;
    background-color: transparent;
    text-decoration: underline;
}

a:hover {
    color: #00c;
    background-color: transparent;
    text-decoration: underline;
}

h1, h2 {
    color: #333;
}

#bio, #work {
    text-align: center;
    padding: 15px;
}

footer {
    text-align: center;
    padding: 10px;
}

.color {
    color: var(--clr-primary-5);
  }

.btn-hero {
font-family: var(--ff-primary);
text-transform: uppercase;
color: black;
letter-spacing: var(--spacing);
display: block;
margin: auto;
font-weight: 700;
transition: var(--transition);
border: 2px solid black;
cursor: pointer;
box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
border-radius: var(--radius);
font-size: 1rem;
padding: 0.75rem 1.25rem;
}
.btn-hero:hover {
color: white;
background-color: black;
}
